@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=New+Rocker&family=Rock+Salt&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(255, 170, 170) 0%, rgb(255, 255, 255) 100%);
    font-family: "Rock Salt", serif;

}


nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    margin: 0 10px;
}


.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #333;


}

.logo {
    width: 150px;
    display: flex;
    justify-content: center;  

}
.logo img {
    width: 90%;
    padding: 10px;
    border-radius: 150px;

}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu li {
    list-style: none;
    margin: 0 10px;

}
.menu a {
    padding: 5px 20px;
    background: #f45252;
    border-radius: 5px;
    color: white;
    font-family: Inter;
    font-size: 1.5rem;
}

.frontPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 80vh;

}

.frontPageContentLeft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.frontPageContentLeft img {
    width: 70%;
    border-radius: 100%;
}

.frontPageContentRight {
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #333;


}

.frontPageContentRight h1 {
    font-size: 5rem;
}
.frontPageContentRight h2 {
    width: 80%;
    font-size: 2.7rem;
}

.frontPageContentRight p {
    font-size: 1.1rem;
}

.frontPageContentRight button {
    margin: 50px;
    padding: 10px 20px;
    background: #f45252;
    border-radius: 5px;
    
    font-size: 1.2rem;
    
    cursor: pointer;
    border: none;
}

.frontPageContentRight a {
    text-decoration: none;
    color: white;
}


.footerContent {
    font-family: serif;
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.team1D ul {
    list-style: none;
}

@media screen and (max-width: 768px) {
    .frontPage {
        flex-direction: column;
        height: 100vh;
        justify-content: center;
    }

    .frontPageContentLeft {
        width: 100%;
        height: 50%;
    }

    .frontPageContentRight {
        width: 100%;
        height: 50%;

    }

    .frontPageContentRight h1 {
        font-size: 3rem;
    }

    .frontPageContentRight h2 {
        font-size: 1.5rem;
    }

    .frontPageContentRight p {
        font-size: 1rem;
    }

    .frontPageContentRight button {
        margin: 20px;
        padding: 10px 20px;
        background: #5280f4;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        border: none;
    }

    .footerContent {
        flex-direction: column;
    }

    .team1D ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}


